body {
    background-color: black;
}


#container {
    background-color: white;
    border: 2px solid black;
    height: auto;
    width: auto;
}

#top {
    text-align: center;
    background-color: orange;
    border-bottom: 2px solid black;
    padding: 10px;
}
h1 {
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
    margin: 20;
}
p {
    font-size: 20px;
    font-family: Arial, sans-serif;
    margin: 10px;
    margin-top: 20px;

}
