name: Build macOS app

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-macos:
    runs-on: macos-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install PyInstaller
      run: pip install pyinstaller

    - name: Build app
      run: |
        pyinstaller --onefile --windowed traducteur_morse_2.py --icon=icone.icns

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: TraducteurMorse-macOS
        path: dist/*.app
